In [14]:
#HOME chapter
print("Hello, World!")

Hello, World!

In [15]:
#Intro chapter
print("Hello, World!")

Hello, World!

In [16]:
#Get Started chapter, example 1
print("Hello, World!")

Hello, World!

In [17]:
#Get Started chapter, example 2
import sys

print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

In [18]:
#Syntax chapter, example 1
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [19]:
#Syntax chapter, Illegal example 2
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 2 (2678344121.py, line 3)

In [21]:
#Syntax chapter, example 3
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [22]:
#Syntax chapter, Illegal example 4
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (2505258481.py, line 4)

In [23]:
#Syntax chapter, Python Variables
x = 5
y = "Hello, World!"

In [ ]:
#Comments chapter, example 1
#This is a comment

print("Hello, World!")

In [ ]:
#Comments chapter, example 2
print("Hello, World!") #This is a comment

In [24]:
#Comments chapter, example 3
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [25]:
#Variables chapter, example 1
x = 5
y = "John"
print(x)
print(y)

5
John

In [26]:

#Variables chapter, example 2
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [27]:
#Variables chapter, Casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [28]:

#Variables chapter, Get the Type
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [29]:
#Variables chapter, Single or Double Quotes?
x = "John"

# is the same as
x = 'John'

In [30]:
#Variables chapter, Case-Sensitive

a = 4
A = "Sally"
#A will not overwrite a

In [31]:
#Variables chapter, Names example 1
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [50]:
#Variables chapter, Names Illegal example 2

myvar == "John"
my-var == "John"
myvar == "John"

NameError: name 'my' is not defined

In [51]:
#Variables chapter, Assign Multiple Values example 1
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [52]:
#Variables chapter, Assign Multiple Values example 2
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [53]:
#Variables chapter, Assign Multiple Values example 3
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [54]:
#Variables chapter, Output Variables example 1
x = "Python is awesome"
print(x)

Python is awesome

In [55]:
#Variables chapter, Output Variables example 2
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [56]:
#Variables chapter, Output Variables example 3
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [57]:
#Variables chapter, Output Variables example 4
x = 5
y = 10
print(x + y)

15

In [58]:
#Variables chapter, Output Variables error example 5
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
#Variables chapter, Output Variables example 6
x = 5
y = "John"
print(x, y)

5 John

In [61]:
#Variables chapter, Global Variables example 1
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [62]:
#Variables chapter, Global Variables example 2
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [63]:
#Variables chapter, Global Variables example 3
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [64]:
#Variables chapter, Global Variables example 4
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [65]:
#Data Types chapter, example 1
x = 5
print(type(x))

<class 'int'>

In [66]:
#Numbers chapter, example 1
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [67]:
#Numbers chapter, example 2
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [68]:
#Numbers chapter, Random Number
import random

print(random.randrange(1, 10))

8

In [69]:
#Casting chapter
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [70]:
#Strings chapter, example 1
print("Hello")
print('Hello')

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

Hello
Hello
It's alright
He is called 'Johnny'
He is called "Johnny"

In [71]:
#Strings chapter, example 2
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [72]:
#Strings chapter, Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [73]:
#Strings chapter, Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [74]:
#Strings chapter, String Length
a = "Hello, World!"
print(len(a))

13

In [75]:
#Strings chapter, Check String example 1
txt = "The best things in life are free!"
print("free" in txt)

True

In [76]:
#Strings chapter, Check String example 2
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [77]:
#Strings chapter, Check if NOT example 1
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [78]:
#Strings chapter, Check if NOT example 2
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [79]:
#Strings chapter, Slicing
a = "Hello, World!"
print(a[2:5])

b = "Hello, World!"
print(b[:5])

c = "Hello, World!"
print(c[2:])

d = "Hello, World!"
print(d[-5:-2])

llo
Hello
llo, World!
orl

In [80]:
#Strings chapter, Modify Strings
a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

a = " Hello, World! "
print(a.strip())

a = "Hello, World!"
print(a.replace("H", "J"))

a = "Hello, World!"
print(a.split(","))

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

In [81]:
#Strings chapter, String Concatenation example 1
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [82]:

#Strings chapter, String Concatenation example 2
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [83]:
#Strings chapter, Format - Strings

age = 36
txt = f"My name is John, I am {age}"
print(txt)

price = 59
text = f"The price is {price} dollars"
print(text)

pprice = 59
txta = f"The price is {price:.2f} dollars"
print(txta)

txet = f"The price is {20 * 59} dollars"
print(txet)

My name is John, I am 36
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars

In [86]:
#Strings chapter, Escape Characters
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.