In [2]:
#Booleans, 1 example 
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [3]:
#Booleans, 2 example 
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [4]:
#Booleans, Values and Variables 1 example 
print(bool("Hello"))
print(bool(15))

True
True

In [5]:
#Booleans, Values and Variables 2 example 
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [6]:
#Booleans, Most Values are True
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [7]:
#Booleans, Some Values are False 1 example 
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [8]:
#Booleans, Some Values are False 2 example 
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [9]:
#Booleans, Functions can Return a Boolean 1 example 
def myFunction() :
  return True

print(myFunction())

True

In [10]:
#Booleans, Functions can Return a Boolean 2 example 
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [11]:
#Booleans, Functions can Return a Boolean 2 example 
x = 200
print(isinstance(x, int))

True

In [12]:
#Operators, 1 example 
print(10 + 5)

15

In [13]:
#Operators, Operator Precedence 1 example 
print((6 + 3) - (6 + 3))

0

In [14]:
#Operators, Operator Precedence 2 example 
print(100 + 5 * 3)

115

In [15]:
#Operators, Operator Precedence 3 example 
print(5 + 4 - 7 + 3)

5

In [16]:
#Lists chapter, 1 example 
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [17]:
#Lists, Allow Duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [18]:
#Lists, List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [19]:
#Lists, List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

In [20]:
#Lists, type()
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [21]:
#Lists, The list() Constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [22]:
#Lists, Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [23]:
#Lists, Access Items Negative Indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [24]:
#Lists, Access Items Range of Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [25]:
#Lists, Access Items Range of Indexes example 2.3.4 
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

print(thislist[2:])

print(thislist[-4:-1])

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [26]:
#Lists, Access Items Range of Indexes 5 example 
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [27]:
#Lists, Change List Items
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [28]:
#Lists, Change a Range of Item Values 1 example 
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [29]:
#Lists, Change a Range of Item Values 2 example 
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [30]:
#Lists, Change a Range of Item Values 3 example 
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [31]:
#Lists, Change a Range of Item Values 4 example 
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [32]:
#Lists, Add List Items: Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [33]:
#Lists, Add List Items: Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [34]:
#Lists, Add List Items: Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [35]:
#Lists, Add List Items: Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [36]:
#Lists, Remove List Items: Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [37]:
#Lists, Remove List Items: Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [38]:
#Lists, Remove List Items: del
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [39]:
#Lists, Remove List Items: Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [40]:
#Lists, Loop Lists: Loop Through a List
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [41]:
#Lists, Loop Lists: Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [42]:
#Lists, Loop Lists: Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [43]:
#Lists, Loop Lists: Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [44]:
#Lists, List Comprehension 1 example 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [45]:
#Lists, List Comprehension 2 example 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [46]:
#Lists, List Comprehension: Condition 1 example 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [47]:
#Lists, List Comprehension: Condition 2 example 
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [48]:
#Lists, List Comprehension: Condition 3 example 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [49]:
#Lists, List Comprehension: Condition 4 example 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [50]:
#Lists, List Comprehension: Condition 5 example 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [51]:
#Lists, Sort Lists: Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [52]:
#Lists, Sort Lists: Numerically
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [53]:
#Lists, Sort Lists: Sort Descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]

In [54]:
#Lists, Sort Lists: Customize Sort Function
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [55]:
#Lists, Sort Lists: Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']

In [56]:
#Lists, Sort Lists: Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [57]:
#Lists, Copy Lists: Copy a List
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [58]:
#Lists, Copy Lists: list() method
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [59]:
#Lists, Copy Lists: slice Operator
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [60]:
#Lists, Join Lists: Join Two Lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [61]:
#Lists, Join Lists: Join Two Lists example 2
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [62]:
#Lists, Join Lists: Join Two Lists example 3
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [63]:
#Tuples, example
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [64]:
#Tuples, Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [65]:
#Tuples, Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [66]:
#Tuples, Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")

In [67]:
#Tuples, type()
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [68]:
#Tuples, The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [69]:
#Tuples, Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

banana
cherry

In [70]:
#Tuples, Negative Indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [71]:
#Tuples, Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

In [72]:
#Tuples, Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [73]:
#Tuples, Update Tuples: Add Items
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [74]:
#Tuples, Update Tuples: Add Items example 2
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [75]:
#Tuples, Update Tuples: Add Items example 3
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [76]:
#Tuples, Update Tuples: Remove Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [77]:
#Tuples, Unpack Tuples
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [78]:
#Tuples, Unpack Tuples: Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [79]:
#Tuples, Loop Tuples
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [80]:
#Tuples, Loop Tuples: for
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [81]:
#Tuples, Loop Tuples: while
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [82]:
#Tuples, Join Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [83]:
#Tuples, Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [84]:
#Sets 
thisset = {"apple", "banana", "cherry"}
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

print(" ")

myset = {"apple", "banana", "cherry"}
print(type(myset))

print(" ")

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

{True, 2, 'cherry', 'banana', 'apple'}

3

<class 'set'>

{'cherry', 'banana', 'apple'}

In [85]:
#Sets, Access Set Items
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

print(" ")

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

cherry
banana
apple

True
False

In [86]:
#Sets, Add Set Items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

{'mango', 'papaya', 'pineapple', 'cherry', 'banana', 'apple'}

{'cherry', 'apple', 'kiwi', 'banana', 'orange'}

In [88]:
#Sets, Remove Set Items
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

print(" ")

thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

{'cherry', 'apple'}

{'cherry', 'apple'}

cherry
{'banana', 'apple'}

set()

NameError: name 'thisset' is not defined

In [89]:
#Sets, Loop Items
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
banana
apple

In [90]:
#Sets, Join Sets
#Union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

set3 = set1 | set2
print(set3)

set3 = set1.union(set2, {"John", "Elena"}, {"apple", "bananas", "cherry"})
print(set3)

myset = set1 | set2 | {"John", "Elena"} | {"apple", "bananas", "cherry"}
print(myset)

x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

#Update
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)



#Intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

set3 = set1 & set2
print(set3)

set1.intersection_update(set2)
print(set1)

set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

#Difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

set3 = set1 - set2
print(set3)

set1.difference_update(set2)
print(set1)

#Symmetric Differences
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

set3 = set1 ^ set2
print(set3)

set1.symmetric_difference_update(set2)
print(set1)

{'c', 'b', 1, 2, 3, 'a'}
{'c', 'b', 1, 2, 3, 'a'}
{'c', 1, 2, 3, 'Elena', 'a', 'cherry', 'apple', 'b', 'John', 'bananas'}
{'c', 1, 2, 3, 'Elena', 'a', 'cherry', 'apple', 'b', 'John', 'bananas'}
{'c', 2, 1, 3, 'a', 'b'}
{'c', 'b', 1, 2, 3, 'a'}
{'apple'}
{'apple'}
{'apple'}
{False, 1, 'apple'}
{'cherry', 'banana'}
{'cherry', 'banana'}
{'cherry', 'banana'}
{'microsoft', 'google', 'cherry', 'banana'}
{'microsoft', 'google', 'cherry', 'banana'}
{'microsoft', 'cherry', 'google', 'banana'}

In [91]:
#Dictionaries chapter
# Dictionary Example
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
print(thisdict)

#Dictionary Items
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
print(thisdict["brand"])

#Duplicate Values
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964, 
    "year": 2020
    }
print(thisdict)

#Dictionary Length
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
print(len(thisdict))

#Dictionary Items - Data Types
thisdict = {
    "brand": "Ford", 
    "electric": False, 
    "year": 1964, 
    "colors": ["red", "white", "blue"]
    }

#Data Type of Dictionary
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
print(type(thisdict))

#The dict() Constructor
thisdict = dict(name="John", age=36, country="Norway")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3
<class 'dict'>
{'name': 'John', 'age': 36, 'country': 'Norway'}

In [92]:
#Dictionaries chapter, Access Dictionary Items
#Accessing Items
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
x = thisdict["model"]
x = thisdict.get("model")

#Get Keys
car = {
    "brand": "Ford", 
    "model": "Mustang",
    "year": 1964
    }
x = car.keys()
print(x)  # before the change
car["color"] = "white"
print(x)  # after the change

#Get Values
x = thisdict.values()
print(x)  # before the change
car["year"] = 2020
print(x)  # after the change
x = car.values()
print(x)  # before the change
car["color"] = "red"
print(x)  # after the change

#Get Items
x = thisdict.items()
print(x)  # before the change
car["year"] = 2020
print(x)  # after the change
x = car.items()
print(x)  # before the change
car["color"] = "red"
print(x)  # after the change

#Check if Key Exists
thisdict = {
    "brand": "Ford", 
    "model": "Mustang", 
    "year": 1964
    }
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020, 'white'])
dict_values(['Ford', 'Mustang', 2020, 'red'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])
Yes, 'model' is one of the keys in the thisdict dictionary

In [88]:
#Dictionaries chapter, Change Dictionary Items
#Change values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

print(thisdict)

#Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [93]:
#Dictionaries chapter, Add Dictionary Items
#Adding Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

#Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [94]:
#Dictionaries chapter, Remove Dictionary Items
#pop()
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
thisdict.pop("model")
print(thisdict)

#popitem()
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
thisdict.popitem()
print(thisdict)

#del
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
del thisdict["model"]
print(thisdict)

#del error
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
del thisdict
#print(thisdict)  # This will cause an error because "thisdict" no longer exists.

#clear()
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'year': 1964}
{}

In [95]:
#Dictionaries chapter, Loop Dictionaries

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
    print(x)

for x in thisdict:
    print(thisdict[x])

for x in thisdict.values():
    print(x)


for x in thisdict.keys():
    print(x)


for x, y in thisdict.items():
    print(x, y)

brand
model
year
Ford
Mustang
1964
Ford
Mustang
1964
brand
model
year
brand Ford
model Mustang
year 1964

In [96]:
#Dictionaries chapter, Copy Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [97]:
#Dictionaries chapter, Nested Dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

print(" ")

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

#Access Items in Nested Dictionaries
print(myfamily["child2"]["name"])


#Loop Through Nested Dictionaries
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
Tobias
child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [98]:
#If ... Else chapter
#if
a = 33
b = 200
if b > a:
    print("b is greater than a")

#elif
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

print(" ")

#else
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

#Short-hand if
if a > b: print("a is greater than b")

print(" ")

#Short-hand if...else
a = 2
b = 330
print("A") if a > b else print("B")

print(" ")

#one line
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

#and
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

#or
if a > b or a > c:
    print("At least one of the conditions is True")

#not
a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

#Nested if
x = 41
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

#The pass statement
a = 33
b = 200
if b > a:
    pass

b is greater than a
a and b are equal

a is greater than b
a is greater than b

B

=
Both conditions are True
At least one of the conditions is True
a is NOT greater than b
Above ten,
and also above 20!

In [99]:
#While Loop chapter
#while
i = 1
while i < 6:
    print(i)
    i += 1

#break
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1
#continue
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

#else
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
1
2
3
1
2
4
5
6
1
2
3
4
5
i is no longer less than 6

In [100]:
#For Loops chapter
#for
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

#Looping Through a String
for x in "banana":
    print(x)

#break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

for x in fruits:
    if x == "banana":
        break
    print(x)

#continue
for x in fruits:
    if x == "banana":
        continue
    print(x)

#range()
for x in range(6):
    print(x)


for x in range(2, 6):
    print(x)


for x in range(2, 30, 3):
    print(x)

#else in a for loop
for x in range(6):
    print(x)
else:
    print("Finally finished!")


for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("Finally finished!")

#Nested loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

#Pass
for x in [0, 1, 2]:
    pass

apple
banana
cherry
b
a
n
a
n
a
apple
banana
apple
apple
cherry
0
1
2
3
4
5
2
3
4
5
2
5
8
11
14
17
20
23
26
29
0
1
2
3
4
5
Finally finished!
0
1
2
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry